@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --BackgroundColor: #11071c;
    --PrimaryColor: #1470d4;
    --GreenColor: #077c21;
    --PurpleColor: #6861bb;
    --RedColor: #d97a7a;
    --GreyColor: #8198b0;
    --PinkColor:#FB2576;
    --GreyTransparent:rgba(123, 152, 188, 0.11);
    --LightBlue: #6d9bd0;
    --NavBgLightBlue:#e4edf9;
    --LightBlueTransparent: rgba(41, 117, 200, 0.45);
    --DarkBlue:rgb(6, 59, 117);
    --ButtonBlue:#307ddd;
    --DangerColor:#b3ba4f;
    --DangerColorSecound:#cbd54b;
    --gradientBlue: linear-gradient(to top left, #7b98bc,#063e7a);
    --gradientGreen:linear-gradient(to bottom right,#dbffe4,#33944b, #4fba6a);
    --gradienLightBlue:linear-gradient(to top left, #6f92ba,#385c86);
    --gradientColor: linear-gradient(to right,#1470d4, #fb2376);
    --whiteColorDeam: hsl(0,0%,93%);
    --whiteColorDeamTransparent:hsla(0, 0%, 93%, 0.818);
    --PrimaryColorTransparent:hsl(211, 83%, 45%, 5%);


    --linearPrimarySecondary: linear-gradient(#2d89eb, #4b439d);
    --linearPrimaryAccent: linear-gradient(#2d89eb, #dc0457);
    --linearSecondaryAccent: linear-gradient(#4b439d, #dc0457);
    --radialPrimarySecondary: radial-gradient(#2d89eb, #4b439d);
    --radialPrimaryAccent: radial-gradient(#2d89eb, #dc0457);
    --radialSecondaryAccent: radial-gradient(#4b439d, #dc0457);

    --testLinear:  linear-gradient(to bottom right, #76a4ec, #65177a);
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --text: #ffffff;
        --background: #1e152d;
        --primary: #1470d2;
        --secondary: #6962bc;
        --accent: #fb2376;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --text: #000000;
        --background: #dbd2ea;
        --primary: #2d89eb;
        --secondary: #4b439d;
        --accent: #dc0457;
    }
}*/